@import './grid';
@import './mixins';
@import './breakpoints';

.section {

  &__inner {
    @include grid-wrap();
    @include grid-row();
    min-height: 100vh;
    padding-left: $padding-small;
    padding-right: $padding-small;
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;

    &--banner {
      height: 100vh;
      padding: 0;
    }

    &--auto {
      min-height: auto;
    }
  }

  &__heading-wrapper {
    @include grid-wrap();
    @include grid-row();
  }



  &__heading {
    text-align: center;
    padding: $padding-medium 0 !important;
  }

  &__content {

    &--valign {
      @include vertical-align();
    }

    &--halign {
      @include horizontal-align();
    }
  }

  &--primary {
    background-color: $primary;
  }

  &--secondary {
    background-color: $secondary;
  }

  &--dark {
    background-color: $black;
  }
}

@include desktop() {
  .section {

    &__inner {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
