@mixin vertical-align($offset: 0) {
  position: relative;
  top: 50%;
  @if $offset {
    top: calc(50% + #{$offset});
  }
  transform: translateY(-50%);
}

@mixin horizontal-align() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
