// sizes
$padding-medium: 24px;
$padding-small: 12px;
$padding-large: 48px;

$max-width: 900px;
$gutter-width: 20px;
$tablet-width: 768px;
$desktop-width: 1024px;

$nav-height: 64px;

// colors
$black: #121212;
$white: #fff;
$off-white: #bbb;
$primary: #005960;
$secondary: #9C9A40;
$grey: #333;
